header {
    text-align: center;
    color: darkseagreen;
    font-family: cursive;
}

body {
    background: radial-gradient(ellipse, mediumspringgreen, black);
}

p {
    color: cadetblue;
    font-size: 20px;
    border: 5px solid darkgray;
    border-radius: 15px;
    background-color: black;
    font-family: Calibri, cursive;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.2, 0.65, 0.3, 1);
}

p:hover {
    cursor: crosshair;
    background-color: whitesmoke;
    transform: translateY(-6px);
}


.text-box-heading-1 {
    margin-left: 650px;
}

.text-box-heading-2 {
    margin-left: 660px;
}

.text-box-heading-3 {
    margin-left: 700px;

}

li {
    font-size: 20px;
    list-style: none;
    font-family: cursive;
    color: ghostwhite;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.2, 0.65, 0.3, 1);
}

li:hover {
    color: cadetblue;
    transform: translateY(-6px);
}



button {
    font-family: cursive;
    background: radial-gradient(circle, greenyellow, darkgrey);
    margin-left: 680px;
    border-radius: 5px;
    transition: background-color 1s ease-out, transform 1s ease-out;
}

button:hover {
    background-color: greenyellow;
    transform: scale(1.1);
}

