h1 {
    color: aliceblue;
}

body {
    background: radial-gradient(ellipse, black, darkblue);
}

a {
    color: aliceblue;
    font-family: cursive;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin-left: 670px;
}