h1 {
    color: aliceblue;
    margin-left: 450px !important;
}

body {
    background: radial-gradient(ellipse, black, darkblue);
}

a {
    color: aliceblue;
    font-family: cursive;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin-left: 670px;
}

@keyframes spin {
    from {transform:rotate(0deg);
    }

    to {transform:rotate(360deg);
    }
}

.Credit-img {
    margin-left: 550px;
    border-radius: 15px;
    animation: spin 4s infinite;
}