header {
    text-align: center;
    color: darkgrey;
    font-family: cursive;
}

.thonk img {
    max-width: 200px;
    max-height: 150px;
    margin-left: 850px;
    transition: .5s ease-in-out;
}

.thonk img:hover {
    cursor: grab;
    rotate: 720deg;
    background-color: skyblue;
}

body {
    background: radial-gradient(circle, crimson, black);
}

p {
    color: black;
    font-size: 20px;
    border: 5px solid whitesmoke;
    border-radius: 15px;
    background-color: blanchedalmond ;
    font-family: Calibri, cursive;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.2, 0.65, 0.3, 1);
}

p:hover {
    background-color: gold;
    transform: translateY(-6px);
}


.text-box-heading-1 {
    margin-left: 650px;
}

.text-box-heading-2 {
    margin-left: 660px;
}

.text-box-heading-3 {
    margin-left: 700px;

}

li {
    font-size: 20px;
    list-style: none;
    font-family: cursive;
    color: white;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.2, 0.65, 0.3, 1);
}


li:hover {
    transform: translateY(-6px);

}

button {
    font-family: cursive;
    background: radial-gradient(circle, darkgray, black);
    margin-left: 680px;
    border-radius: 5px;
    transition: background-color 1s ease-out, transform 1s ease-out;
    color: white;
}

button:hover {
    background-color: crimson;
    transform: scale(1.1);
}