header {
    text-align: center;
    color: wheat;
    font-family: cursive;

}

body {
    background: radial-gradient(circle, wheat, black);
}

p {
    color: black;
    font-size: 20px;
    border: 5px solid whitesmoke;
    border-radius: 15px;
    background-color: blanchedalmond ;
    font-family: Calibri, cursive;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.2, 0.65, 0.3, 1);
}


.text-box-heading-1 {
    margin-left: 600px;
}

p:hover {
    background-color: skyblue;
    transform: translateY(-6px);
}

.text-box-heading-2 {
    margin-left: 600px;
}


.text-box-heading-3 {
    margin-left: 700px;

}

li {
    list-style: none;
    font-family: cursive;
    color: wheat;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.2, 0.65, 0.3, 1);
}

li:hover {
    transform: translateY(-6px);
}

button {
    font-family: cursive;
    background: radial-gradient(circle, wheat, darkgrey);
    margin-left: 700px;
    border-radius: 5px;
    transition: background-color 1s ease-out, transform 1s ease-out;
}

button:hover {
    background-color: wheat;
    transform: scale(1.1);
}

img {
    height: 300px;
    width: 400px;
    margin-left: 550px;
    justify-content: space-between;
    border: 5px solid black;
    border-radius: 15px;
    transition: .5s ease-in-out;
}

img:hover {
    rotate: 360deg;
}

