img {
    height: 200px;
    width: 300px;
    margin: 10px;
    justify-content: space-between;
    border: 5px solid black;
    border-radius: 15px;

}

header {
    text-align: center;
    color: aliceblue;
    font-family: cursive;
}

p {
    color: orange;
    font-size: 20px;
    border: 5px solid whitesmoke;
    border-radius: 15px;
    background-color: wheat;
}






body {
    background: radial-gradient(circle, darkslategray, darkgrey);
}

.section-1 {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.2, 0.65, 0.3, 1);
}

.section-2 {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.2, 0.65, 0.3, 1);
}

.section-3 {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.2, 0.65, 0.3, 1);
}

.section-1:hover{
    transform: translateY(-6px);
    p{
        color: darkturquoise;
        background-color: black;
    }
}

.section-2:hover {
    transform: translateY(-6px);
    p{
        color: crimson;
        background-color: black;
    }
}

.section-3:hover {
    transform: translateY(-6px);
    p{
        color: darkseagreen;
        background-color: black;
    }
}

.section-1-text {
    margin-left: 650px;
    color: aliceblue;
}

.section-2-text {
    margin-left: 700px;
    font-size: 20px;
    color: aliceblue;
}

.section-3-text {
    margin-left: 700px;
    font-size: 20px;
    color: aliceblue;
}

.images-table {
    margin-left: 300px;
    display: flex;
}

.image-container {
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.2, 0.65, 0.3, 1);
}

#image-1:hover {
    transform: translateY(-6px);
    float-wrap: revert;
}



#image-2:hover {
    transform: translateY(-6px);
    float: right;
}



#image-3:hover {
    transform: translateY(-6px);
    float: right;
}


footer {
    text-align: center;
    color: aliceblue;
    font-family: cursive;
    font-size: 60px;
    align-items: center;
}